<section id="typography">
  <h3>Typography <small>Headings, paragraphs, lists, and other inline type elements</small></h3>
  <p>
    The typography module provides one mixin with predefined styles for headings, paragrpahs, lists etc. When you
    import this module a <%= link_to 'vertical rhythm', 'http://compass-style.org/reference/compass/typography/vertical_rhythm/' %>
    is applied to your css automatically.
  </p>

  <h4>@mixin stylr-typography();</h4>
  <p><strong>Global default variables</strong></p>
  <p>none<p>

  <p><strong>Optional Parameters (with defaults)</strong></p>
  <ul>
    <li>
      <code>$use-body: false</code>
    </li>
  </ul>

  <p>
    This mixin can be included anywhere you like. The optional parameter <code>$use-body</code> can be set to
    <code>true</code> to include styles for the body tag as well. In this case it will only make sense to
    include it at the root level of your css hierarchy.
  </p>
  <%= pre :class => 'prettyprint' do %>
    @include stylr-typography($use-body: true);
    // or ...
    #my-content-area {
      @include stylr-typography();
      // @include stylr-typography($use-body: true); THIS MAKES NO SENSE!
    }
  <% end %>

  <!-- headings -->
  <h5>Headings</h5>
  <p>
    In your markup use <code>h1</code>-<code>h6</code> to create headings. We also provide a sub heading style
    which you get using the <code>small</code> tag.
  </p>
  <%= example do %>
    <h1>h1. Heading 1 <small>small sub heading&hellip;</small></h1>
    <h2>h2. Heading 2 <small>small sub heading&hellip;</small></h2>
    <h3>h3. Heading 3 <small>small sub heading&hellip;</small></h3>
    <h4>h4. Heading 4 <small>small sub heading&hellip;</small></h4>
    <h5>h5. Heading 5 <small>small sub heading&hellip;</small></h5>
    <h6>h6. Heading 6 <small>small sub heading&hellip;</small></h6>
  <% end %>


  <!-- paragraphs -->
  <h5>Paragraphs</h5>
  <p>Use the <code>p</code> tag to create paragraphs.</p>
  <%= example do %>
    <p><a href="#">Lorem ipsum dolor</a> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
  <% end %>

  <p>We also provide a muted style for paragraphs mapped to the <code>.muted</code> class.</p>
  <%= example do %>
    <p class="muted">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
  <% end %>


  <!-- misc. elements -->
  <h5>Misc. elements</h5>
  <p>
    Emphasis tags <code>&lt;strong&gt;</code> and <code>&lt;em&gt;</code> should be used to indicate
    additional importance or emphasis of a word or phrase relative to its surrounding copy. Use
    <code>&lt;strong&gt;</code> for importance and <code>&lt;em&gt;</code> for <em>stress</em> emphasis.
  </p>
  <%= example do %>
    <p>Fusce dapibus <strong>tellus ac cursus commodo</strong>, <em>tortor mauris condimentum nibh</em>, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue.</p>
    <p><strong>Note:</strong> It's still okay to use <code>&lt;b&gt;</code> and <code>&lt;i&gt;</code> tags in HTML5, but they don't come with inherent styles anymore. <code>&lt;b&gt;</code> is meant to highlight words or phrases without conveying additional importance, while <code>&lt;i&gt;</code> is mostly for voice, technical terms, etc.</p>
  <% end %>

  <p>
    The <code>&lt;address&gt;</code> element is used for contact information for its nearest ancestor,
    or the entire body of work.
  </p>
  <p>
    For abbreviations and acronyms, use the <code>&lt;abbr&gt;</code> tag (<code>&lt;acronym&gt;</code> is
    deprecated in <abbr title="HyperText Markup Langugage 5">HTML5</abbr>). Put the shorthand form within
    the tag and set a title for the complete name.
  </p>
  <%= example do %>
    <address>
      <strong>metaminded UG</strong><br />
      Ulmer Str. 124<br />
      73431 Aalen<br />
      <abbr title="Phone">P:</abbr> +49 7361 5895900
    </address>
    <p><strong>Note:</strong> Each line in an <code>&lt;address&gt;</code> must end with a line-break (<code>&lt;br /&gt;</code>) or be wrapped in a block-level tag (e.g., <code>&lt;p&gt;</code>) to properly structure the content.</p>
  <% end %>


  <!-- Code -->
  <h5>Presenting code</h5>
  <p>
    Pimp your code in style with the two simple tags <code>&lt;code&gt;</code> and <code>&lt;pre&gt;</code>.
    For even more awesomeness through javascript, stylr comes bundled with
    <%= link_to 'Googles code prettify library', 'http://code.google.com/p/google-code-prettify/' %>.
  </p>
  <p>
    Use the <code>&lt;code&gt;</code> tag to present code inline.
  </p>
  <%= example do %>
    In a line of text like this, your wrapped code will look like this <code>html</code> element.
  <% end %>

  <p>
    Use the <code>&lt;pre&gt;</code> tag to present code blocks. Use <code>class="prettyprint"</code>
    to enable syntax highlighting. Use <code>class="linenums"</code> to show line numbers. The counting
    starts at line 1. If you need to set an offset you can do so like this <code>class="linenums:42"</code>.
    For more option on how to use the Google code prettify library check the
    <%= link_to 'docs', 'http://code.google.com/p/google-code-prettify/' %>.
  </p>
  <%= example :print_example => false do %>
    <pre class="prettyprint">
      <p>Lorem Ipsum...</p>
    </pre>

    // or ...

    <pre class="prettyprint linenums">
      <p>Lorem Ipsum...</p>
    </pre>
  <% end %>


  <!-- blockquotes -->
  <h5>Blockquotes</h5>
  <p>
    To include a blockquote, wrap <code>&lt;blockquote&gt;</code> around <code>&lt;p&gt;</code>
    and <code>&lt;small&gt;</code> tags. Use the <code>&lt;small&gt;</code> element to cite your source
    and you'll get an em dash <code>&amp;mdash;</code> before it.
  </p>
  <%= example do %>
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
      <small>Dr. Julius Hibbert</small>
    </blockquote>
  <% end %>

  <h5>Lists</h5>
  <h6>Unordered <code>&lt;ul&gt;</code></h6>
  <%= example do %>
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Consectetur adipiscing elit</li>
      <li>Integer molestie lorem at massa</li>
      <li>Facilisis in pretium nisl aliquet</li>
      <li>Nulla volutpat aliquam velit
        <ul>
          <li>Phasellus iaculis neque</li>
          <li>Purus sodales ultricies
            <ul>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
            </ul>
          </li>
          <li>Vestibulum laoreet porttitor sem</li>
          <li>Ac tristique libero volutpat at</li>
        </ul>
      </li>
      <li>Faucibus porta lacus fringilla vel</li>
      <li>Aenean sit amet erat nunc</li>
      <li>Eget porttitor lorem</li>
    </ul>
  <% end %>

  <h6>Unstyled <code>&lt;ul.unstyled&gt;</code></h6>
  <%= example do %>
    <ul class="unstyled">
      <li>Lorem ipsum dolor sit amet</li>
      <li>Consectetur adipiscing elit</li>
      <li>Integer molestie lorem at massa</li>
      <li>Facilisis in pretium nisl aliquet</li>
      <li>Nulla volutpat aliquam velit
        <ul>
          <li>Phasellus iaculis neque</li>
          <li>Purus sodales ultricies
            <ul>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
            </ul>
          </li>
          <li>Vestibulum laoreet porttitor sem</li>
          <li>Ac tristique libero volutpat at</li>
        </ul>
      </li>
      <li>Faucibus porta lacus fringilla vel</li>
      <li>Aenean sit amet erat nunc</li>
      <li>Eget porttitor lorem</li>
    </ul>
  <% end %>

  <h6>Ordered <code>&lt;ol&gt;</code></h6>
  <%= example do %>
    <ol>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Consectetur adipiscing elit</li>
      <li>Integer molestie lorem at massa</li>
      <li>Facilisis in pretium nisl aliquet</li>
      <li>Nulla volutpat aliquam velit
        <ul>
          <li>Phasellus iaculis neque</li>
          <li>Purus sodales ultricies
            <ul>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
            </ul>
          </li>
          <li>Vestibulum laoreet porttitor sem</li>
          <li>Ac tristique libero volutpat at</li>
        </ul>
      </li>
      <li>Faucibus porta lacus fringilla vel</li>
      <li>Aenean sit amet erat nunc</li>
      <li>Eget porttitor lorem</li>
    </ol>
  <% end %>

  <h6>Description <code>dl</code></h6>
  <%= example do %>
    <dl>
      <dt>Description lists</dt>
      <dd>A description list is perfect for defining terms.</dd>
      <dt>Euismod</dt>
      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
      <dd>Donec id elit non mi porta gravida at eget metus.</dd>
      <dt>Malesuada porta</dt>
      <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
    </dl>
  <% end %>


  <h4>@mixin stylr-inline-labels();</h4>
  <p><strong>Global default variables</strong></p>
  <p>none<p>

  <p><strong>Optional Parameters (with defaults)</strong></p>
  <p>none</p>

  <p>Use this mixin to create nice inline labels. Just apply to a span class of your choice.</p>

  <%= pre :class => 'prettyprint' do %>
    span.label {
      @include stylr-inline-labels();
    }
  <% end %>

  <p>
    To call attention to or flag any phrase in your body text stylr comes with some nice inline labels.
    Just use <code>&lt;span class=&quot;label&quot;/&gt;</code> plus a style class and you are set.
    Available style classes are <code>success</code>, <code>warning</code>, <code>important</code> and
    <code>notice</code>. To get the default label just omit the style class.
  </p>

  <%= example do %>
    <span class="label">default</span>
    <span class="label success">success</span>
    <span class="label warning">warning</span>
    <span class="label important">important</span>
    <span class="label notice">notice</span>
  <% end %>
</section>
