<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

<% if content_for?(:metabar) %>
<div id="metabar-wrapper">
  <div id="metabar">
    <%= yield(:metabar) %>
  </div>
</div>
<% end %>

<% if content_for?(:topbar) %>
<div id="topbar-wrapper">
  <div id="topbar">
    <%= yield(:topbar) %>
  </div>
</div>
<% end %>

<div id="mainarea-wrapper">
  <% with_sidebar_class = content_for?(:sidebar) ? 'with-sidebar' : 'without-sidebar' -%>
  <div id="mainarea" class="<%= with_sidebar_class -%>">
    <% if content_for?(:sidebar) %>
      <div id="sidebar">
        <%= yield(:sidebar) %>
      </div>
    <% end %>

    <div id="pagearea">
      <div id="page">
        <%= yield %>
      </div>
    </div>
  </div>
</div>

<% if content_for?(:footer) %>
<div id="footer-wrapper">
  <div id="footer">
    <%= yield(:footer) %>
  </div>
</div>
<% end %>

</body>
</html>